@model Laba3.WebApplication.Models.SquareModel

<!DOCTYPE html>
<html>
<head>
    <title>Square Calculator</title>
</head>
<body>
    <h1>Калькулятор расчета площади</h1>
    <form method="post" action="/Square/Calculator">
        <label for="smallRadius">Радиус меньшего основнаия:</label>
        <input type="number" step="any" name="smallRadius" /><br />

        <label for="largeRadius">Радиус большего основнаия:</label>
        <input type="number" step="any" name="largeRadius" /><br />

        <label for="generatrix">Образующая:</label>
        <input type="number" step="any" name="generatrix" /><br />

        <input type="submit" value="Калькулятор" />
    </form>


    @if (Model.latSquare >= 0 && Model.smallRadius >= 0 && Model.largeRadius >= 0 && Model.generatrix >= 0)
    {
        <p>Площадь боковой поверхности усеченного конуса: @Model.latSquare</p>
    }

    <img src="/image.png" width="250" height="250" />
</body>
</html>
